<div class="main-box">
<div class="action-left">
  <button id="slideLeft" (click)="btnLeft()" class="btn" type="button"> < </button>
</div>
  <div  class="box" >
   <div class="inner-box">All</div>
  <div class="inner-box">Noida</div>
  <div class="inner-box">Gurugram</div>
  <div class="inner-box">Jaipur</div>
  <div class="inner-box">Lucknow</div>
  <div class="inner-box">Mumbai</div>
  <div class="inner-box">Raipur</div>
  <div class="inner-box">Gwalior</div>
  <div class="inner-box">Gwalior</div>
  <div class="inner-box">Gwalior</div>
  <div class="inner-box">Gwalior</div>
  <div class="inner-box">Gwalior</div>
 </div>
  <div class="action-right">
    <button id="slideRight" (click)="btnRgt()" class="btn" type="button"> > </button>
  </div>
</div>

<!--<mat-chip-list aria-orientation='horizontal'>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->

<!--</mat-chip-list>-->
