.main-box{
  display: flex;
  overflow-y: hidden;
}
.box{
  height:50px;
  width: 100%;
  display: inline-flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  justify-content: space-between;
}

.box::-webkit-scrollbar{
  width: 100%;
  height: 2px;
  background-color: red;
}

.inner-box{
  min-width: 100px;
  margin:1px 3px;
  height: 45px;
  line-height: 50px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 25px;
  cursor: pointer;
}

/*////working case 1 above//////////////*/

.btn{
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: large;
}

.first{
  margin-left: 10px;
}
