<div class="box">
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
  <div class="inner-box">Khushaal</div>
</div>


<!--<mat-chip-list aria-orientation='horizontal'>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->
<!--  <mat-chip class="inner-box">Noida</mat-chip>-->

<!--</mat-chip-list>-->
